#p3 {
    background-color: green;
    color: white;
}

#p4{
    background-color: gold;
    color: white;
}

#p5 {
    background-color: #b31518;
    color: white;
}

#p6 {
    color: black;
}

#p7{
    background-color: blue;
    color: white;
}

#p8 {
    background-color: blue;
    color: white;
}

#p9 {
    background-color: #b31518;
    color: white;
}

#p11 {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    color: white;
}