@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.child {
    font-size: 3vw;
}

@media only screen and (max-width: 600px) {
    .child {
        font-size: 5vw;
    }
}